<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  <title>四字熟語ドリル</title>
</head>
<body>
  <div class="wrapper">
  <div style ="text-align: center;">
    <h1>四字熟語辞書</h1>
 
  <div align ="center">
<h1>正解</h1>
<h4><%= list.read%></h4>
<h2><p><%= list.jukugo%></p></h2>
<h2><p><%= list.mean%></p></h2>
<p><img src="/public/image/<%= list.id%>.jpg"></p>
<% if (question === 11){%>
  <a href="/result?question=<%= question %>&correct=<%= correct %>" class="btn-square-shadow">結果</a>
<% }else{%>   
<a href="/meantest?question=<%= question %>&correct=<%= correct %>" class="btn-square-shadow">つぎへ</a>
<% }%>
  </div>
  </div>
</body>
</html>

