<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <title>四字熟語ドリル</title>
</head>
<body>
  <div class="wrapper">
  <div style ="text-align: center;">
    <h1>四字熟語読みテスト</h1>
    <h2>読みをひらがなで入力しましょう</h2><br>
    

  <form action="/readtest" method="post">
    <% var a = Math.floor( Math.random() * (1,134)) %>    
    <% var num = 0 %>
    <% if(typeof correct !== 'undefined'){ %>
      <% num = correct %>
    <% } %>

    <%= question %>問目
    <h2><%= lists[a].jukugo %></h2>
	  <h3>答え</h3>
    <input type="text" value="" name="text">
    <input type="hidden" value="<%= lists[a].read %> " name="read">
    <input type="hidden" value="<%= question %> " name="question">
    <input type="hidden" value="<%= a+1 %> " name="index">
    <input type="hidden" value="<%= num %> " name="correct">
    <br>  
    
    <input type="submit" value="決定" class="btn-square-shadow">
  </form>
  </div>
  </div>
</body>
</html>